<p>listar-funcionarios works!</p>



  <!-- begin::Header -->

<div class="card-header border-0 pt-5">
  <h3 class="card-title align-items-start flex-column">
    <span class="card-label fw-bolder fs-3 mb-1">Listado funcionarios</span>
    <span class="text-muted mt-1 fw-bold fs-7">Listado de todos los funcionarios segun la busqueda seleccionada</span>
  </h3>
</div>
<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body py-3">
  <!-- begin::Table container -->
  <div class="table-responsive">
    <!-- begin::Table -->
    <table
      class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4"
    >
      <!-- begin::Table head -->
      <thead>
        <tr class="fw-bolder text-muted">
          <th class="w-25px">
            <div
              class="
                form-check form-check-sm form-check-custom form-check-solid
              "
            >

            </div>
          </th>
          <th class="min-w-130px">Nombre Funcionarios</th>
          <th class="min-w-130px">Fecha Ingreso</th>
          <th class="min-w-130px">Codigo Funcionario</th>
        </tr>
      </thead>
      <!-- end::Table head -->
      <!-- begin::Table body -->
      <tbody>
          <tr *ngFor="let item of listadoPadre | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <td>
              <div
                class="
                  form-check form-check-sm form-check-custom form-check-solid
                "
              >
                <input
                  class="form-check-input widget-9-check"
                  type="radio"
                  value="{{item.rut}}"
                  name="radio_funcionario"
                  (change)="formListado(item)"
                />
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div class="symbol symbol-45px me-5">
                  <img src="./assets/media/avatars/blank.png" alt="" />
                </div>
                <div class="d-flex justify-content-start flex-column">
                  <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">
                    {{ item.nombre1 }} {{item.nombre2}} {{item.paterno}} {{item.materno}}
                  </a>
                  <span class="text-muted fw-bold text-muted d-block fs-7">
                    {{item.rut}}-{{item.digito}}
                  </span>
                </div>
              </div>
            </td>
            <td>
              <a
                href="#"
                class="text-dark fw-bolder text-hover-primary d-block fs-6"
              >
                {{item.ingreso}}
              </a>
              <span class="text-muted fw-bold text-muted d-block fs-7" *ngIf="item.sexo === 'M'; else templateFemenino">
                Masculino
              </span>
              <ng-template #templateFemenino>
                <span class="text-muted fw-bold text-muted d-block fs-7" >
                  Femenino
                </span>
              </ng-template>

            </td>
            <td class="text-end">
              <div class="d-flex justify-content-start flex-column">
                <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">
                  {{item.codigo}}-{{item.letra}}
                </a>
                <span class="text-muted fw-bold text-muted d-block fs-7" *ngIf="item.civil === 'C'">
                  Casado(a)
                </span>
                <span class="text-muted fw-bold text-muted d-block fs-7" *ngIf="item.civil === 'S'">
                  Soltero(a)
                </span>
                <span class="text-muted fw-bold text-muted d-block fs-7" *ngIf="item.civil === 'D'">
                  Divorciado(a)
                </span>


              </div>
            </td>
          </tr>
      </tbody>
      <!-- end::Table body -->
    </table>

    <!-- end::Table -->
    <ngb-pagination [collectionSize]="listadoPadre.length" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
  </div>
  <!-- end::Table container -->
</div>
<!-- begin::Body -->

<!-- {{listadoPadre | json }} -->

