<!-- <p>componente hijo - funcionario-liquidacion works!</p> -->

<div class="card mb-5 mb-xl-10">
  <div class="card-body pt-9 pb-0">
    <div class="d-flex flex-wrap flex-sm-nowrap mb-3">
      <div class="me-7 mb-4">
        <div
          class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative"
        >
          <img src="./assets/media/avatars/blank.png" alt="Metronic" />
          <div
            class="position-absolute translate-middle bottom-0 start-100 mb-6 bg-info rounded-circle border border-4 border-white h-20px w-20px"
          ></div>
        </div>
      </div>
      <div class="flex-grow-1">
        <div
          class="d-flex justify-content-between align-items-start flex-wrap mb-2"
        >
          <div class="d-flex flex-column">
            <div class="d-flex align-items-center mb-2">
              <a
                class="text-gray-800 text-hover-primary fs-2 fw-bolder me-1 cursor-pointer"
              >
                {{ funcionarioSeleccionado.nombre1 }}
                {{ funcionarioSeleccionado.nombre2 }}
                {{ funcionarioSeleccionado.paterno }}
                {{ funcionarioSeleccionado.materno }}
              </a>
              <a class="cursor-pointer">
                <span
                  [inlineSVG]="
                    './assets/media/icons/duotune/general/gen026.svg'
                  "
                  class="svg-icon svg-icon-1 svg-icon-primary"
                ></span>
              </a>
              <a
                class="btn btn-sm btn-light-success fw-bolder ms-2 fs-8 py-1 px-3 cursor-pointer"
                data-bs-toggle="modal"
                data-bs-target="#kt_modal_upgrade_plan"
              >
                {{ funcionarioSeleccionado.codigo }}-{{
                  funcionarioSeleccionado.letra
                }}
              </a>
            </div>

            <div class="d-flex flex-wrap fw-bold fs-6 mb-4 pe-2">
              <a
                class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2 cursor-pointer"
              >
                <span
                  [inlineSVG]="
                    './assets/media/icons/duotune/communication/com006.svg'
                  "
                  class="svg-icon svg-icon-4 me-1"
                ></span>
                {{ funcionarioSeleccionado.rut }}-{{
                  funcionarioSeleccionado.digito
                }}
              </a>
              <a
                *ngIf="funcionarioSeleccionado.sexo === 'F'"
                class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2 cursor-pointer"
              >
                <span
                  [inlineSVG]="'./assets/media/icons/duotune/coding/cod001.svg'"
                  class="svg-icon svg-icon-4 me-1"
                ></span>
                Femenino
              </a>
              <a
                *ngIf="funcionarioSeleccionado.sexo === 'M'"
                class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2 cursor-pointer"
              >
                <span
                  [inlineSVG]="'./assets/media/icons/duotune/coding/cod001.svg'"
                  class="svg-icon svg-icon-4 me-1"
                ></span>
                Masculino
              </a>
              <a
                *ngIf="funcionarioSeleccionado.civil === 'C'"
                class="d-flex align-items-center text-gray-400 text-hover-primary mb-2 cursor-pointer"
              >
                <span
                  [inlineSVG]="
                    './assets/media/icons/duotune/communication/com011.svg'
                  "
                  class="svg-icon svg-icon-4 me-1"
                ></span>
                Casado(a)
              </a>
              <a
                *ngIf="funcionarioSeleccionado.civil === 'S'"
                class="d-flex align-items-center text-gray-400 text-hover-primary mb-2 cursor-pointer"
              >
                <span
                  [inlineSVG]="
                    './assets/media/icons/duotune/communication/com011.svg'
                  "
                  class="svg-icon svg-icon-4 me-1"
                ></span>
                Soltero(a)
              </a>
              <a
                *ngIf="funcionarioSeleccionado.civil === 'D'"
                class="d-flex align-items-center text-gray-400 text-hover-primary mb-2 cursor-pointer"
              >
                <span
                  [inlineSVG]="
                    './assets/media/icons/duotune/communication/com011.svg'
                  "
                  class="svg-icon svg-icon-4 me-1"
                ></span>
                Divorciado(a)
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mb-12 mb-xl-10">
  <div class="card-body pt-9 pb-0">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">Hola {{ usuario.nombre }}!</h4>

      <p>
        Esto es una ayuda para ti, recuerda que para poder generar un documento
        con las liquidaciones del funcionario seleccionado, debes llenar los 4
        campos que estan a continuacion;
      </p>
      <ul class="list-group">
        <li class="list-group-item">
          (*) <b>Mes Inicio:</b> Indica el mes desde donde desea comenzar la
          busqueda de la informacion.
        </li>
        <li class="list-group-item">
          (*) <b>Año Inicio:</b> Indica el año desde donde desea comenzar la
          busqueda de la informacion.
        </li>
        <li class="list-group-item">
          (*)<b>Mes Termino:</b> Representa el ultimo mes que desea buscar.
        </li>
        <li class="list-group-item">
          (*)<b>Año Termino:</b> Representa el ultimo año de la busqueda.
        </li>
      </ul>

      <hr />
      <p class="mb-0 text-danger">
        Los campos que tengan (*), son campos obligatorios para la busqueda.
      </p>
    </div>

    <form [formGroup]="formSolicitudLiquidacion">
      <div class="row pt-10">
        <div class="col-md-3">
          <div class="input-group mb-3">
            <label class="input-group-text" for="mesInicio">Mes Inicio</label>
            <select
              class="form-select"
              id="mesInicio"
              name="mesInicio"
              formControlName="mesInicio"
            >
              <option selected>Seleccione mes...</option>
              <option value="{{ item.id }}" *ngFor="let item of mesesdelanno">
                {{ item.descripcion }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="input-group mb-3">
            <label class="input-group-text" for="annoInicio">Año Inicio</label>
            <select
              class="form-select"
              id="annoInicio"
              name="annoInicio"
              formControlName="annoInicio"
            >
              <option selected>Seleccione año...</option>
              <option
                value="{{ item.id }}"
                *ngFor="let item of annosFuncionario"
              >
                {{ item.id }}
              </option>
            </select>
          </div>
        </div>

        <div class="col-md-3">
          <div class="input-group mb-3">
            <label class="input-group-text" for="mesTermino">Mes Termino</label>
            <select
              class="form-select"
              id="mesTermino"
              name="mesTermino"
              formControlName="mesTermino"
            >
              <option selected>Seleccione mes...</option>
              <option value="{{ item.id }}" *ngFor="let item of mesesdelanno">
                {{ item.descripcion }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="input-group mb-3">
            <label class="input-group-text" for="annoTermino"
              >Año Termino</label
            >
            <select
              class="form-select"
              id="annoTermino"
              name="annoTermino"
              formControlName="annoTermino"
            >
              <option selected>Selecciones año...</option>
              <option
                value="{{ item.id }}"
                *ngFor="let item of annosFuncionario"
              >
                {{ item.id }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row pt-10">
        <div class="d-flex flex-stack mb-8">
          <!--begin::Label-->
          <div class="me-5">
            <label class="fs-6 fw-bold">Seleccione una opcion</label>
            <div class="fs-7 fw-bold text-muted">¿Desea censurar informacion? <br> * la informacion censurada no incluira: rut, descuentos particulares y alcance liquido</div>
          </div>
          <!--end::Label-->
          <!--begin::Switch-->
          <label class="form-check form-switch form-check-custom form-check-solid">
            <input class="form-check-input" type="radio" value="0" checked="checked" name="censura" formControlName="censura"/>
            <span class="form-check-label fw-bold text-muted">Censurado</span>
          </label>
          <label class="form-check form-switch form-check-custom form-check-solid">
            <input class="form-check-input" type="radio" value="1"  name="censura" formControlName="censura" />
            <span class="form-check-label fw-bold text-muted">Sin censura</span>
          </label>
          <!--end::Switch-->
        </div>
      </div>
      <div class="row pt-10">
        <button type="submit" (click)="generarDocumento()" class="btn btn-primary col-md-4"
      [disabled]="formSolicitudLiquidacion.invalid">
      <ng-container *ngIf="!isLoading">Generar Documento</ng-container>
      <ng-container *ngIf="isLoading">
        <span clas="indicator-progress" [style.display]="'block'">
          Por favor espere...{{ " " }}
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </ng-container>
    </button>
      </div>
    </form>
  </div>
</div>

<!-- {{ formSolicitudLiquidacion.invalid | json }} -->
<!--
<pre><code>
  {{usuario | json}}
</code></pre>

<pre><code>
  {{annosFuncionario | json}}
</code></pre> -->
